@import './base.css';

#app {
  max-width: 100vw;
  margin: 0 auto;
  font-weight: normal;
  overflow: hidden;
}

a {
  text-decoration: none;
}

input[type='checkbox'] {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.simplebar-scrollbar {
  background-color: #8d8d8d;
  border-radius: 2px;
  width: 7px;
}

.simplebar-scrollbar:before {
  background-color: transparent !important;
}

.simplebar-track {
  background-color: #dfdfdf;
  border-radius: 2px;
  width: 7px !important;
}

.simplebar-content {
  display: flex;
  flex-direction: column;
  padding-right: 20px !important;
}

@media screen and (max-width: 480px) {
  .simplebar-content {
    padding-right: 7.5px !important;
  }

  .simplebar-scrollbar {
    width: 4px;
  }

  .simplebar-track {
    width: 4px !important;
  }
}
